<%- partial('_partial/head') %>
<script>
  /* Preload Switch Images */
  preload_switch();
</script>
<body id="main-body">
  <div id="particles">
    <canvas id="draw-canvas"></canvas>
    <img src="css/images/ani_off.png" id="animate" class="buttons" onclick="toggle_animate()">
    <img src="css/images/rota_off.png" id="rotate" class="buttons" onclick="toggle_rotate()">
  </div>
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <div id="content" class="inner"><%- body %></div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>